*.pyc
__pycache__/

**/__pycache__/**
!**/__pycache__
**/migrations/**
!**/migrations
!**/migrations/__init__.py

/desarrollo/temp/2020_10_14_20_19_23_None
/desarrollo/temp/2020_10_14_20_52_12_None
/desarrollo/temp/2020_10_16_15_25_58_None
/desarrollo/temp/2020_10_16_15_26_52_None
/docs/build/doctrees/_autosummary/administracion.forms.doctree
/docs/build/doctrees/_autosummary/administracion.models.doctree
/docs/build/doctrees/_autosummary/administracion.views.doctree
/docs/build/html/_static/js/badge_only.js
/docs/build/doctrees/_autosummary/configuracion.models.doctree
/docs/build/html/_autosummary/configuracion.models.html
/docs/build/html/_static/_autosummary/configuracion.models.rst
/docs/source/_autosummary/configuracion.models.rst
/docs/build/html/_sources/_autosummary/configuracion.models.rst.txt
/docs/build/doctrees/_autosummary/configuracion.views.doctree
/docs/build/html/_autosummary/configuracion.views.html
/docs/build/html/_static/_autosummary/configuracion.views.rst
/docs/source/_autosummary/configuracion.views.rst
/docs/build/html/_sources/_autosummary/configuracion.views.rst.txt
/docs/build/doctrees/_autosummary/desarrollo.forms.doctree
/docs/build/doctrees/_autosummary/desarrollo.models.doctree
/docs/build/doctrees/_autosummary/desarrollo.views.doctree
/docs/build/doctrees/environment.pickle
/docs/build/html/_static/fonts/FontAwesome.otf
/docs/build/html/_static/css/fonts/fontawesome-webfont.eot
/docs/build/html/_static/css/fonts/fontawesome-webfont.svg
/docs/build/html/_static/css/fonts/fontawesome-webfont.ttf
/docs/build/html/_static/css/fonts/fontawesome-webfont.woff
/docs/build/html/_static/css/fonts/fontawesome-webfont.woff2
/docs/build/html/_static/js/html5shiv.min.js
/docs/build/html/_static/js/html5shiv-printshiv.min.js
/docs/build/doctrees/index.doctree
/docs/build/html/_static/jquery-3.5.1.js
/docs/build/html/_static/css/fonts/lato-bold.woff
/docs/build/html/_static/fonts/lato-bold.woff
/docs/build/html/_static/css/fonts/lato-bold.woff2
/docs/build/html/_static/fonts/lato-bold.woff2
/docs/build/html/_static/css/fonts/lato-bold-italic.woff
/docs/build/html/_static/fonts/lato-bold-italic.woff
/docs/build/html/_static/css/fonts/lato-bold-italic.woff2
/docs/build/html/_static/fonts/lato-bold-italic.woff2
/docs/build/html/_static/css/fonts/lato-normal.woff
/docs/build/html/_static/fonts/lato-normal.woff
/docs/build/html/_static/css/fonts/lato-normal.woff2
/docs/build/html/_static/fonts/lato-normal.woff2
/docs/build/html/_static/css/fonts/lato-normal-italic.woff
/docs/build/html/_static/fonts/lato-normal-italic.woff
/docs/build/html/_static/css/fonts/lato-normal-italic.woff2
/docs/build/html/_static/fonts/lato-normal-italic.woff2
/docs/build/doctrees/_autosummary/login.forms.doctree
/docs/build/doctrees/_autosummary/login.LoginBackEnd.doctree
/docs/build/doctrees/_autosummary/login.models.doctree
/docs/build/doctrees/_autosummary/login.Register.doctree
/docs/build/doctrees/_autosummary/login.views.doctree
/docs/build/html/_modules/configuracion/models.html
/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff
/docs/build/html/_static/fonts/Roboto-Slab-Bold.woff
/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
/docs/build/html/_static/fonts/Roboto-Slab-Bold.woff2
/docs/build/html/_static/fonts/Roboto-Slab-Light.woff
/docs/build/html/_static/fonts/Roboto-Slab-Light.woff2
/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff
/docs/build/html/_static/fonts/Roboto-Slab-Regular.woff
/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
/docs/build/html/_static/fonts/Roboto-Slab-Regular.woff2
/docs/build/html/_static/fonts/Roboto-Slab-Thin.woff
/docs/build/html/_static/fonts/Roboto-Slab-Thin.woff2
/docs/build/html/_modules/configuracion/views.html
