[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
pyrebase = "*"
sphinx = "*"
gunicorn = "*"
django-crispy-forms = "*"
sphinx-rtd-theme = "*"
whitenoise = "*"
dj-database-url = "*"
python-decouple = "*"
config = "*"

[requires]
python_version = "3.8"
