{% extends 'login/loginHeader.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1 class="col-12 text-center">Gestion de Usuarios</h1>
        <h5 class="col-12 text-center mt-3">
            Seleccione los permisos sobre el sistema que deseee proporcionar
            a los usuarios
        </h5>

        <div class="row justify-content-center mt-3">
            <form class="row col-sm-9 col-md-9 col-lg-9 pt-6" method="post">
                {% csrf_token %}
                
                <table class="table users table-hover">
                    <tr>
                        <th>Usuario</th>
                        <th>Dirección correo electrónico</th>
                        <th>Activo</th>
                        <th>Gerente</th>
                        <th></th>
                    </tr>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>
                                <label> {{ usuario }} </label>
                            </td>
                            <td>
                                <label> {{ usuario.email }}</label>
                            </td>
                            {% if usuario.es_participante %}
                                <td colspan="2">
                                <h6 class="text">Usuario participante</h6>
                                </td>
                                <input name={{usuario.id}}
                                       type="checkbox"
                                       value=True
                                       hidden="true"
                                       {% if usuario.is_active%}
                                           checked
                                       {% endif %}
                                >
                                <input name="g{{usuario.id}}"
                                       type="checkbox"
                                       value=True
                                       hidden="true"
                                       {% if usuario.is_gerente%}
                                           checked
                                       {% endif %}
                                >

                            {% else %}
                                <td>
                                    <input name={{usuario.id}}
                                           type="checkbox"
                                           value=True
                                           {% if usuario.is_active%}
                                               checked
                                           {% endif %}
                                    >
                                </td>
                                <td>
                                    <input name="g{{usuario.id}}"
                                           type="checkbox"
                                           value=True
                                           {% if usuario.is_gerente%}
                                               checked
                                           {% endif %}
                                    >
                                </td>
                            {% endif %}
                            <td>
                                <a type="button"
                                        class="btn btn-primary"
                                        href={% url 'login:userUpdate' usuario %}
                                        >
                                        Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div id="accordianId" class="col-sm-12 " role="tablist" aria-multiselectable="true" >
                <div class="card ">
                    <div class="card-header d-flex flex-row-reverse " role="tab" id="sectionHeaderId">
                        <button type="submit" class="btn btn-primary m-1">Guardar</button>
                        <button type="button" class="btn btn-primary m-1" onclick="history.back()">
                            Volver
                        </button>
                        <button class="btn btn-primary m-1" type="button" data-toggle="collapse"
                                data-target="#sectionContentId"
                                aria-expanded="false"
                                aria-controls="sectionContentId">
                                Ayuda
                        </button>
                    </div>
                    <div id="sectionContentId" class="collapse in" role="tabpanel"
                         aria-labelledby="sectionHeaderId">
                        <div class="card-body">
                            <div id="accordianId" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="section1HeaderId">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordianId"
                                               href="#section1ContentId" aria-expanded="true"
                                               aria-controls="section1ContentId">
                                                Activo
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="section1ContentId" class="collapse in" role="tabpanel"
                                         aria-labelledby="section1HeaderId">
                                        <div class="card-body">
                                            El campo Activo se refiere a que un usuario tiene los permisos para
                                            acceder a las funcionalidades del sistema, al estar desactivado
                                            la cuenta no sera habilitada para acceder a los datos del sistema.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="section2HeaderId">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordianId"
                                               href="#section2ContentId" aria-expanded="true"
                                               aria-controls="section2ContentId">
                                                Gerente
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="section2ContentId" class="collapse in" role="tabpanel"
                                         aria-labelledby="section2HeaderId">
                                        <div class="card-body">
                                            El campo gerente se refiere a que un usuario tiene los permisos de
                                            gerente, si este campo esta activo, el usuario podra tendra la
                                            posibilidad de crear nuevos proyectos dentro del sistema.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="HeaderUsuarioParticipate">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordianId"
                                               href="#contenidoUsuarioParticipante" aria-expanded="true"
                                               aria-controls="contenidoUsuarioParticipante">
                                                Usuario Participante
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="contenidoUsuarioParticipante" class="collapse in" role="tabpanel"
                                         aria-labelledby="HeaderUsuarioParticipate">
                                        <div class="card-body">
                                            Indica que ese usuario ya participa dentro de algun proyecto, por
                                            tanto, su cuenta no puede ser desactivada mientras que el proyecto
                                            este aun en ejecucion
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
