{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <main role="main" class="container">
                <div class="d-flex align-items-center p-3 my-3  bg-purple rounded shadow-sm">
                <h2 class="">Bienvenido a Item Manager</h2>
                </div>

                <h4 class="pb-3">Seleccione Un Módulo: </h4>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <a class="btn btn-block btn-primary text-white" href="{% url 'administracion:proyectos' 'todos' %}">
                            Modulo de administracion
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="btn btn-block btn-primary text-white" href="#">
                            Modulo de desarrollo
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="btn btn-block btn-primary text-white" href="#">
                            Modulo de configuracion
                        </a>
                    </div>
                </div>

            </main>
        </div>
    </div>
{% endblock %}