{% extends 'login/loginHeader.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1 class="col-12 text-center">Crear usuario</h1>
            <div class="row justify-content-center mt-3">
                <form class="col-sm-12 col-md-8 col-lg-6 pt-3" method="post">
                    {% csrf_token %}
                    {%  if error_message %}
                        <div class="form-group">
                            <div class=" alert alert-danger">
                                {{ error_message }}
                            </div>
                        </div>
                    {%  endif %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block mb-3" id="registerButton">Registrarse</button>

                </form>
            </div>
    </div>
  {% endblock %}