{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-5">Crear linea base</h1>
        <h4 class="mb-5">Seleccione los items a incluir en la linea base de la fase "{{ fase.nombre }}"</h4>

        <form method="post">
            {% csrf_token %}
            {% for item in fase.item_set.all %}
                {% if item.estado == item.ESTADO_APROBADO %}
                    <div  class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkItem-{{ item.id }}" id="checkItem-{{ item.id }}">
                        <label class="form-check-label" for="checkItem-{{ item.id }}">
                            {{ item.tipo_item.prefijo }} {% if item.numeracion < 10 %}0{% endif %}{{ item.numeracion    }}-{{ item.nombre }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="mt-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Confirmar creacion</button>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Linea Base</h5>
                            </div>
                            <div class="modal-body">
                                ¿Desea confirmar la creacion de la Linea Base?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <button class="btn btn-primary">Si</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'configuracion:verProyecto' fase.proyecto_id %}" class="btn btn-primary float-right">Volver atrás</a>
            </div>
        </form>

    </div>
{% endblock %}