{% extends 'login/loginHeader.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1 class="col-12 text-center my-5">Cerrar {{ proyecto.nombre }} </h1>

        {% if not es_gerente %}
            <div class="alert alert-danger m-3">
                <h5 class="text-center">
                    Solo el gerente de proyecto puede cerrar el proyecto
                </h5>
            </div>
        {% endif %}
        {% if mensaje_error %}
            <div class="alert alert-danger m-3">
                <h5 class="text-center">
                    {{ mensaje_error }}
                </h5>
            </div>
        {% endif %}
        {% if not es_cerrable %}
            <div class="alert alert-danger m-3">
                <h5 class="text-center">
                    Las fases siguen abiertas. Para cerrar el proyecto todas las fases deben estar cerradas.
                </h5>
            </div>
            <div class="text-center">
                <a href="{% url 'desarrollo:cerrarFase' proyecto.id %}">Ir a cerrar fases</a>
            </div>
        {% endif %}

        <div class="row justify-content-center mt-3">
            <form class="row col-sm-9 col-md-9 col-lg-9 pt-6" method="post">
                {% csrf_token %}
                <table class="table users table-hover">
                    <tr>
                        <th>Nro de fase</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                    </tr>
                    {% for fase in fases %}
                        <tr>
                            <td><label> {{ fase.nro_de_fase }} </label> </td>
                            <td><label> {{ fase.nombre }} </label> </td>
                            <td><label> {{ fase.descripcion }} </label> </td>
                            <td><label class="
                            {% if fase.estado == fase.FASE_ESTADO_ABIERTA %}
                                text-danger
                            {% else %}
                                text-primary
                            {% endif %}
                            "> {{ fase.estado }} </label> </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="container">
                    {% if es_cerrable %}
                        <button type="submit" class="btn btn-primary">Confirmar cerrado de Proyecto</button>
                    {% endif %}
                     <a class="btn btn-primary float-right"
                             href="{% url 'configuracion:verProyecto' proyecto.id %}">
                         Volver
                     </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}