{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-3">{{ proyecto.nombre }}</h1>
        <h4 class="text-center">(Se muestran los items aprobados y en Linea Base)</h4>
        <div class="btn float-right">

        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for fase in proyecto.fase_set.all %}
                        <th class="">
                            <div>{{ fase.nombre }}</div>
                        </th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr class="">
                    {% for fase in proyecto.fase_set.all %}
                        <td class="justify-content-center">
                            <div class="list-group pt-2">
                                <ul>
                                    {% for item in fase.item_set.all %}
                                        {% if item.estado == item.ESTADO_APROBADO %}
                                            <li class="list-group">
                                                <a class="align-baseline"
                                                   href="{% url 'configuracion:trazabilidad' proyecto.id item.id %}" >
                                                   {{ item.tipo_item.prefijo }} {% if item.numeracion < 10 %}0{% endif %}{{ item.numeracion    }}-{{ item.nombre }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% for linea_base in fase.lineabase_set.all %}
                                    {% if linea_base.estado == linea_base.ESTADO_CERRADA and linea_base.items.count >= 1 %}
                                        <ul class="listaEnLB">
                                        <h5 class="fieldset-title">
                                            <a class="text-primary" href="{% url 'configuracion:verLineaBase' linea_base.id %}"  >
                                                Linea Base {% if linea_base.numeracion < 10 %}0{% endif %}{{ linea_base.numeracion }}
                                            </a>
                                        </h5>
                                        {% for item in linea_base.items.all %}
                                            <li class="list-group">
                                                <a class="align-baseline text-secondary"
                                                   href="{% url 'configuracion:trazabilidad' proyecto.id item.id %}" >
                                                   {{ item.tipo_item.prefijo }} {% if item.numeracion < 10 %}0{% endif %}{{ item.numeracion    }}-{{ item.nombre }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                {% for fase in proyecto.fase_set.all %}
                    <td>
                        <a class="btn btn-info btn-block" href="{% url 'configuracion:crearLineaBase' fase.id %}">
                            Crear linea base
                        </a>
                    </td>
                {% endfor %}
                </tr>
            </tfoot>
        </table>

        <div class="col-sm-12 mt-4">
            {% if es_comite %}
                <a class="btn btn-primary" href="{% url 'configuracion:verIndexComite' proyecto.id %}">Comite de decisiones</a>
            {% endif %}
            {% if puede_cerrar %}
                <a class="btn btn-primary" href="{% url 'configuracion:cerrarProyecto' proyecto.id %}">Cerrar proyecto</a>
            {% endif %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Generar reporte</button>
            <a href="{% url 'configuracion:indexConfiguracion' 'todos' %}" class="btn btn-primary float-right">Volver atrás</a>
        </div>
{#        Modal reporte #}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Generar reporte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="reporteForm" action="{% url 'configuracion:reporte'  proyecto.id %}" method="post">
                    {% csrf_token %}
                    <h4>Seleccione las fases que quiere incluir al reporte</h4>
                    {% for fase in proyecto.fase_set.all %}
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkFase-{{ fase.id }}" id="checkFase-{{ fase.id }}">
                        <label class="form-check-label" for="checkFase-{{ fase.id }}">{{ fase.nombre }}</label>
                      </div>
                    {% endfor %}
                    <hr>
                    <h4>Seleccione el rango para ver la cantidad de solicitudes de cambio en el reporte</h4>
                    <div class="form-group">
                        <label for="inicio" class="col-form-label">Fecha Inicio:</label>
                        <input type="date" class="form-group" id="inicio" name="inicio" required>
                    </div>
                    <div class="form-group">
                        <label for="fin" class="col-form-label">Fecha Fin:</label>
                        <input type="date" class="form-group" id="fin" name="fin" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="reporteButton" type="submit" class="btn btn-primary" onclick="submitReporte()">Descargar PDF</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script>
        const pintarLB = ()=> {
            const enLB = document.getElementsByClassName('listaEnLB');
            for (i = 0; i < enLB.length; i++) {
                let item = enLB[i];
                if (item.childElementCount > 0) {
                    item.classList.add('border');
                    item.classList.add('border-primary');
                }
            }
        };
        pintarLB();
        const submitReporte = ()=>{
            form =  document.getElementById('reporteForm');
            if(form.checkValidity()){
                form.submit();
                $('#exampleModal').modal('hide');
            }
        };

    </script>
{% endblock %}