{% extends 'login/loginHeader.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="center-block col-md-12 p-3">
            <h3 class="text-danger m-3 font-weight-bold" align="middle">ACCESO DENEGADO</h3>
            <div class="alert alert-danger m-3">
                <h5 align="middle">
                    {{ mensaje }}
                </h5>
            </div>
        </div>
        <a class="btn btn-primary mt-3" href="{% url 'administracion:verProyecto' proyecto.id %}" role="button" >
            Volver a detalles de {{ proyecto.nombre }}
        </a>
    </div>
{% endblock %}