{% extends 'login/loginHeader.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-3">Administrar Comité del Proyecto:</h1>
        <h4>Lista Actual de Miembros:</h4>
        <ul>
            {% for miembro in proyecto.comite.all %}
                <li>{{ miembro }}
                    [<a href="{% url 'administracion:desasignarUsuario' proyecto.id miembro.id 'comite' %}">X</a>]
                </li>
            {% endfor %}
        </ul>
        <form class="pt-3" METHOD="post" ACTION="{% url 'administracion:administrarComite'  proyecto.id %}">
            {% csrf_token %}
            <label for="miembro_comite">Seleccionar Participantes:</label>
            <select class="form-control" id="miembro_comite" name="miembro_comite">
                <option selected>Eliga un miembro</option>
                {% for participante in proyecto.participantes.all %}
                    {% if participante not in proyecto.comite.all %}
                        <option value="{{ participante.localId }}">{{ participante }}</option>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                {% endfor %}
            </select>
            <p align="right">
                <button type="submit" class="btn btn-primary"
                        {% if proyecto.cant_comite <= proyecto.comite.count %}
                            disabled=""
                        {% endif %}
                        align="right">Añadir al Proyecto</button>
            </p>
            <a class="btn btn-primary" href="{% url 'administracion:verProyecto' proyecto.id %}" role="button">
                Volver a detalles de {{ proyecto.nombre }}
            </a>
        </form>
    </div>
{% endblock %}