{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h3 class="pt-3 mb-3 pb-3 text-center">Participante {{ participante.username }}</h3>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fase</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for fase, rol_x_fase in listaRol %}
                    <tr>
                        <th>{{ fase.nombre }}</th>
                        <td>
                            <ul class="list-unstyled">
                            {% for rol in rol_x_fase %}
                                <li class="m-1">{{ rol.rol.nombre }}(<a href="#">Desasignar</a>)</li>

                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="#">Agregar rol</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}