{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h3 class="pt-3 mb-3 pb-3 text-center">Participante {{ participante.username }}</h3>

        {% if not roles_disponibles  %}
            <div class="alert alert-warning">No hay roles para asignar</div>
        {% else %}
            <p>Seleccione el rol a asignar</p>
        {% endif %}
        <div class="list-group">
            {% for rol in roles_disponibles %}
                <a href="{% url 'administracion:registrarRolPorFase' fase.id participante.id rol.id %}" class="list-group-item list-group-item-action">{{rol.nombre}}</a>
            {% endfor %}
        </div>
        <a href="{% url 'administracion:verRolesUsuario' fase.proyecto.id participante.id %}" class="btn btn-secondary mt-3">Volver</a>
    </div>
{% endblock %}