{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-3">Creación De Proyecto</h1>
        <form class="pt-3" METHOD="post" ACTION="{% url 'administracion:registrarProyecto'%}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-8">
                    <label for="inputNombre">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Ej. Proyecto 1">
                </div>
                <div class="form-group col-sm-12 col-md-8">
                    <label for="inputFechaIni">Fecha de Inicio</label>
                    <input type="text" class="form-control" id="inputFechaIni" name="fecha_inicio" placeholder="Ej. 2001-04-30">
                </div>
                <div class="form-group col-sm-12 col-md-8">
                    <label for="inputNumFase">Numero de fases del proyecto:</label>
                    <input type="text" class="form-control" id="inputNumFase" name="numero_fase" placeholder="Ej. 7">
                </div>
                <div class="form-group col-sm-12 col-md-8">
                    <label for="inputGerente">Gerente del proyecto:</label>
                    <input type="text" class="form-control" id="inputGerente" name="gerente" placeholder="Ej. Pedro Parques">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Crear Proyecto</button>

        </form>
    </div>
{% endblock %}