{% extends 'login/loginHeader.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h3 class="text-center pt-3 mb-3">{{ proyecto.nombre }}:</h3>
            <h4>Estado actual: {{estado}}</h4>
        <h3 class="text-center pt-3 mb-3">Nuevo Estado:</h3>
        {% if habilitadofase == False or habilitadocomite == False %}
            <h6 style="color: #c4a000">CONSEJOS:</h6>
            <h6 style="color: #c4a000">
            {% if habilitadofase == False %}
                <li> Debe Definir los nombres de las
                        <a href="{% url 'administracion:administrarFasesProyecto' proyecto.id %}" style="color: #8f5902">fases</a>
                        antes de poder pasar a estado de ejecución
                    </li>
            {% endif %}
            {% if habilitadocomite == False %}
                    <li>
                        Debe asignar a los miembros del
                        <a href="{% url 'administracion:administrarComite' proyecto.id %}" style="color: #8f5902">comité</a>
                        antes de poder pasar a estado de ejecución
                    </li>
            {% endif %}
            </h6>
        {% endif %}

        <form class="pt-3" METHOD="post" ACTION="{% url 'administracion:estadoProyecto' proyecto.id %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-8">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="estado" class="custom-control-input" value="iniciado"
                             {% if proyecto.estado == 'iniciado' %}checked="" {% endif %}>
                      <label class="custom-control-label" for="customRadio1">Iniciado</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="estado" class="custom-control-input" value="en ejecucion"
                               {% if proyecto.estado == 'en ejecucion' %}checked="" {% endif %}
                                {% if habilitadofase == False or habilitadocomite == False %}disabled=""{% endif %}>
                        <label class="custom-control-label" for="customRadio2">En Ejecución</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio3" name="estado" class="custom-control-input" value="finalizado"
                             {% if proyecto.estado == 'finalizado' %}checked="" {% endif %}
                             {% if proyecto.estado != 'en ejecucion' %}disabled=""{% endif %}>
                      <label class="custom-control-label" for="customRadio3">Finalizado</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio4" name="estado" class="custom-control-input" value="cancelado"
                             {% if proyecto.estado == 'cancelado' %}checked="" {% endif %}>
                      <label class="custom-control-label" for="customRadio4">Cancelado</label>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <button type="submit" class="btn btn-primary"
                    {% if proyecto.estado == 'cancelado' or proyecto.estado == 'finalizado'%}
                        disabled=""
                    {% endif %}>Modificar
                </button>
                <a class="btn btn-primary float-right" href="{% url 'administracion:verProyecto' proyecto.id %}" role="button">Volver atrás</a>
            </div>
        </form>
    </div>
{% endblock %}