{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-3">Módulo de Administración</h1>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'administracion:proyectos' %}" class="">Ver proyectos</a></li>
            <li class="list-group-item"><a href="{% url 'administracion:tipoItem' %}" class="">Ver tipos de item</a></li>
        </ul>
        <a class="btn btn-primary mt-3" href="{% url 'login:index' %}" role="button">Salir</a>
    </div>
{% endblock %}