{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-3">Proyectos:</h1>
            <div class="list-group">
                {% for proyecto in lista_proyectos %}
                    <a href="{% url 'administracion:verProyecto' proyecto.id %}" class="list-group-item list-group-item-action">{{proyecto}}</a>
                {% endfor %}
            </div>
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'administracion:crearProyecto' %}" role="button">Crear nuevo Proyecto</a>
    </div>
{% endblock %}