{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-3">Proyectos:</h1>
            <div class="list-group">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtro Por Estado: {{ filtro }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'administracion:proyectos' 'todos' %}">Ninguno</a>
                    <a class="dropdown-item" href="{% url 'administracion:proyectos' 'iniciado'%}">Iniciado</a>
                    <a class="dropdown-item" href="{% url 'administracion:proyectos' 'en ejecucion'%}">En ejecución</a>
                    <a class="dropdown-item" href="{% url 'administracion:proyectos' 'finalizado'%}">Finalizado</a>
                    <a class="dropdown-item" href="{% url 'administracion:proyectos' 'cancelado'%}">Cancelado</a>
                  </div>
                </div>
                {% if not lista_proyectos.count %}
                    <div class="alert alert-danger">Aún no hay Proyectos. ¡Cree su primer Proyecto!</div>
                {% else %}
                    <table class="table table-hover col-sm-12 mt-3">
                        <tbody>
                            {% for proyecto in lista_proyectos %}
                                <tr>
                                    <td>
                                        <a href="{% url 'administracion:verProyecto' proyecto.id %}"
                                           class="list-group-item list-group-item-action text-primary">{{proyecto}} <span class="text-secondary">({{ proyecto.estado }})</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'administracion:crearProyecto' %}" role="button">Crear nuevo Proyecto</a>
    </div>
{% endblock %}