{% extends 'login/loginHeader.html' %}
{% block content %}
{% load tz %}
    <div class="container h-100">
        <div class="shadow-lg p-3 mb-5 bg-white rounded mt-5">
            <h2 class="text-center pt-3 mb-3">{{ proyecto.nombre }}</h2>
                <table class="table">
                    <tbody>
                        <tr class="">
                            <td>Estado </td><td>{{estado}}</td>
                        </tr>
                        <tr class="">
                            <td>Fecha de Inicio </td><td>{{proyecto.fecha_inicio}}</td>
                        </tr>
                        {% if proyecto.fecha_ejecucion %}
                        <tr class="">
                            <td>Fecha de inicio de Ejecución </td><td>{{proyecto.fecha_ejecucion}}</td>
                        </tr>
                        {% endif %}
                        {% if proyecto.fecha_finalizado %}
                        <tr class="">
                            <td>Fecha de Finalización</td><td>{{proyecto.fecha_finalizado}}</td>
                        </tr>
                        {% endif %}
                        {% localtime on %}
                        {% if proyecto.fecha_cancelado %}
                        <tr class="">
                            <td>Fecha de Cancelación </td><td>{{proyecto.fecha_cancelado}}</td>
                        </tr>
                        {% endif %}
                        {% endlocaltime %}
                        <tr class="table">
                            <td>Gerente del Proyecto </td><td>{{gerente}}</td>
                        </tr>
                        <tr class="">
                            <td>Miembros del Comité</td>
                            <td>
                                <ul>
                                    {% for miembro in proyecto.comite.all %}
                                        <li>{{ miembro }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr><tr class="">
                            <td>Participantes</td>
                            <td>
                                <ul>
                                    {% for participante in proyecto.participantes.all %}
                                        <li>{{ participante }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr class="">
                            <td>Tipos de Item</td>
                            <td>
                                <ul>
                                    {% for tipoItem in tipo_item %}
                                        <li>{{ tipoItem.nombre }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr class="">
                            <td>Fases</td>
                            <td>
                                <ul>
                                    {% for fase in fases %}
                                        {% if fase.nombre == '' %}
                                            <li>Nombre Indefinido</li>
                                        {% else %}
                                            <li>{{ fase.nombre }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-3 pb-3">
                {% if proyecto.estado != 'cancelado' %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        {% if proyecto.estado == 'iniciado' %}
                                <a class="list-group-item dropdown-item"
                                   href="{% url 'administracion:tipoItemPorProyecto' proyecto.id %}" role="button">
                                    Administrar Tipo de Item
                                </a>
                            {% else %}
                                <a class="list-group-item dropdown-item disabled" role="button">
                                    Administrar Tipo de Item <h6 style="color: #f57900">(solo en estado iniciado)</h6>
                                </a>
                            {% endif %}
                            <a class="list-group-item dropdown-item"
                               href="{% url 'administracion:administrarParticipantes' proyecto.id %}" role="button">
                                Administrar Participantes
                            </a>
                            <a class="list-group-item dropdown-item {% if  proyecto.estado == 'finalizado' %}disabled{% endif %}"
                               href="{% url 'administracion:administrarComite' proyecto.id %}" role="button">
                                Administrar Miembros del Comité
                            </a>
                            <a class="list-group-item dropdown-item {% if  proyecto.estado == 'finalizado' %}disabled{% endif %}"
                               href="{% url 'administracion:editarProyecto' proyecto.id %}" role="button">
                                Modificar datos del Proyecto
                            </a>
                            <a class="list-group-item dropdown-item {% if  proyecto.estado == 'finalizado' %}disabled{% endif %}"
                               href="{% url 'administracion:administrarFasesProyecto' proyecto.id %}" role="button">
                                Administrar Fases del Proyecto
                            </a>
                            <a class="list-group-item dropdown-item"
                               href="{% url 'administracion:administrarRoles' proyecto.id %}" role="button">
                                Administrar roles
                            </a>
                    </div>
                    {% if proyecto.estado == 'iniciado' %}
                        <button
                            {% if habilitadofase == False or habilitadocomite == False or habilitadotipo == False %}
                                class="btn btn-secondary" onclick="show_alert('Debe definir {% if habilitadofase == False %}nombres de las fases{% endif %}{% if habilitadofase == False and habilitadocomite == False %}, {% endif %}{% if proyecto.comite.count < proyecto.cant_comite %}los miembros del comité {% endif %}{% if habilitadocomite == False and habilitadotipo == False %}y{% endif %} {% if habilitadotipo == False %}aunque sea un tipo de ítem{% endif %}')"
                            {% else %}
                                onclick="show_modal('{% url 'administracion:estadoProyecto2' proyecto.id 'en ejecucion' %}')" class="btn btn-primary"
                            {% endif %}
                        >Pasar a en ejecucion</button>
                        <button onclick="show_modal('{% url 'administracion:estadoProyecto2' proyecto.id 'cancelado' %}')" class="btn btn-danger">Pasar a cancelado</button>
                    {% elif proyecto.estado == 'en ejecucion' %}
                        <button onclick="show_modal('{% url 'administracion:estadoProyecto2' proyecto.id 'finalizado' %}')" class="btn btn-primary">Pasar a finalizado</button>
                        <button onclick="show_modal('{% url 'administracion:estadoProyecto2' proyecto.id 'cancelado' %}')" class="btn btn-danger">Pasar a cancelado</button>
                    {% endif %}
                {% else %}
                    <div class="d-inline-block">
                        <h5 class="alert alert-warning">Proyecto Cancelado: No se permiten acciones</h5>
                    </div>
                {% endif %}
                <div class="float-right">
                    <a class="btn btn-primary" href="{% url 'administracion:proyectos' 'todos'%}" role="button">
                        Volver a Lista de Proyectos
                    </a>
                </div>
                <div id="msj">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmacion" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Estas seguro de que desea cambiar el estado del proyecto?</h3>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a class="btn btn-success" id="botonConfirmar" href="">Confirmar</a>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //var $ = jQuery.noConflict();
        function show_modal( url ){
            $('#botonConfirmar').attr('href',url)
            $('#confirmacion').modal('show');
        }
        function show_alert(msj) {
            document.querySelector('#msj').innerHTML=msj;
            document.querySelector('#msj').classList='alert alert-warning mt-3'
        }
    </script>
{% endblock %}


