{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 p-3">
            <h2>{{ tipo_item.nombre }} ({{ tipo_item.prefijo }})</h2>
        </div>

        <div class="lg-12 mb-3">
            <h3>Atributos comunes</h3>
        </div>
        <ul class="list-group pb-3">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Complejidad
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Atributo x
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Atributo y
            </li>
        </ul>
        <hr/>
        <div class="lg-12 pt-3">
            <h3>Atributos particulares</h3>
        </div>
        <ul class="list-group">

        </ul>
        <a href="#" class="btn btn-block btn-primary">Agregar atributo</a>

    </div>

{% endblock %}