{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 ">
                <div class="col-lg-12 p-3">
                    <h3>{{item.tipo_item.prefijo}}_{{item.nombre}} </h3>
                </div>
                <ul class="list-group pb-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tipo: {{ item.tipo_item.nombre }}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proyecto: {{ proyecto.nombre }}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Fase: {{ fase.nombre }}</li>

                </ul>
                <div class="lg-12 mb-3">
                    <h5>Atributos comunes</h5>
                </div>
                <ul class="list-group pb-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nombre: {{ item.nombre }}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Complejidad: {{ item.complejidad }}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Version: {{ item.version }}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Descripcion: {{ item.descripcion }}</li>
                </ul>
                <div class="lg-12 mb-3">
                    <h5>Atributos Particulares:</h5>
                </div>
                <ul class="list-group pb-3">
                    {% for atributo in lista_atributos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ atributo.nombre }}({{ atributo.tipo }}): {{ atributo.valor }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{% url 'desarrollo:verProyecto' proyecto.id %}" class="btn btn-block btn-primary">Volver atrás</a>
    </div>

{% endblock %}