{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 ">
                <h3 class="text-center mt-3 mb-5">Historial de Versiones de {{item_actual.tipo_item.prefijo}}_{{item_actual.nombre}} </h3>
                <table class="table">
                <thead>
                    <th></th>
                    <th>Versiones:</th>
                    <th>{{ item_actual.version }} (actual)</th>
                    {% for item_anterior in lista_versiones %}
                        <th>{{ item_anterior.version }}</th>
                    {% endfor %}
                </thead>
                    <tbody>
                        <tr>
                            <th rowspan="4" class="text-center align-middle h5">Atributos Comunes</th>
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Nombre</td>
                            <td style="font-weight: bold">{{ item_actual.nombre }}</td>
                            {% for item_anterior in lista_versiones %}
                                <td>{{ item_anterior.nombre }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Complejidad</td>
                            <td style="font-weight: bold">{{ item_actual.complejidad }}</td>
                            {% for item_anterior in lista_versiones %}
                                <td>{{ item_anterior.complejidad }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Descripcion</td>
                            <td style="font-weight: bold">{{ item_actual.descripcion }}</td>
                            {% for item_anterior in lista_versiones %}
                                <td>{{ item_anterior.descripcion }}</td>
                            {% endfor %}
                        </tr>
                        {% if lista_atributos %}
                            <tr>
                                <th rowspan="2" class="text-center align-middle h5">Atributos particulares</th>
                            </tr>
                            <tr>
                                <td bgcolor="#87cefa">
                                    <ul>
                                        {% for atributo in lista_atributos %}
                                            <li>{{ atributo.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                    <td style="font-weight: bold">
                                        <ul>
                                            {% for atributo in lista_atributos %}
                                                {% if atributo.tipo == 'file' %}
                                                    <li><a href="{{ atributo.valor }}" target="_blank">Archivo</a></li>
                                                {% else %}
                                                    <li>{{ atributo.valor }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    {% for item_anterior in lista_versiones %}
                                    <td>
                                        <ul>
                                            {% for atributo in item_anterior.atributoparticular_set.all %}
                                                {% if atributo.tipo == 'file' %}
                                                    <li><a href="{{ atributo.valor }}" target="_blank">Archivo</a></li>
                                                {% else %}
                                                    <li>{{ atributo.valor }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    {% endfor %}
                                </tr>

                        {% endif %}
                        <tr>
                            <th rowspan="5" class="text-center align-middle h5">Relaciones</th>
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Antecesores</td>
                            <td>
                                <ul>
                                    {% for antecesor in item_actual.antecesores.all %}
                                        <li>
                                            {{antecesor}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% for item in lista_versiones %}
                                 <td>
                                    <ul>
                                        {% for antecesor in item.antecesores.all %}
                                            <li>
                                                {{antecesor}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Sucesores</td>
                            <td>
                                <ul>
                                    {% for sucesor in item_actual.sucesores.all %}
                                        <li>
                                            {{sucesor}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% for item in lista_versiones %}
                                 <td>
                                    <ul>
                                        {% for sucesor in item.sucesores.all %}
                                            <li>
                                                {{sucesor}}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Padres</td>
                            <td>
                                <ul>
                                    {% for relacion in item_actual.relaciones_this_as_fin.all %}
                                        {% if relacion.es_relacion_padrehijo and relacion.is_active %}
                                            <li>
                                                {{relacion.inicio}}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            {% for item in lista_versiones %}
                                 <td>
                                    <ul>
                                        {% for relacion in item.relaciones_this_as_fin.all %}
                                            {% if relacion.es_relacion_padrehijo and not relacion.is_active %}
                                                <li>
                                                    {{relacion.inicio}}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td bgcolor="#87cefa">Hijos</td>
                            <td>
                                <ul>
                                    {% for relacion in item_actual.relaciones_this_as_inicio.all %}
                                        {% if relacion.es_relacion_padrehijo and relacion.is_active %}
                                            <li>
                                                {{relacion.fin}}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            {% for item in lista_versiones %}
                                 <td>
                                    <ul>
                                        {% for relacion in item.relaciones_this_as_inicio.all %}
                                            {% if relacion.es_relacion_padrehijo and not relacion.is_active %}
                                                <li>
                                                    {{relacion.fin}}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div class="col-sm-5">
                    <input type="range" class="custom-range" id="customRange1">
                    <button type="submit" class="btn btn-primary">Ver más versiones</button>
                </div>
                <div class="col-sm-12 mt-4">
                    <a href="{% url 'desarrollo:verItem' proyecto.id item_actual.id%}" class="btn btn-primary float-right">Volver atrás</a>
                </div>

            </div>
            <div class="mt-4 alert alert-warning" id="alertarelaciones" style="visibility: hidden;">
                No se puede desactivar por que es antecesor/padre de otros items
            </div>
        </div>

    </div>
    <script>
        const showAlert = ()=>{
            const alertDiv = document.getElementById('alertarelaciones');
            alertDiv.style.visibility = 'visible';
        }
    </script>
{% endblock %}