{% extends 'login/loginHeader.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center pt-3 mb-5">{{ proyecto.nombre }}</h1>
        <div class="btn float-right">
            <a class="btn btn-info" href="{% url 'desarrollo:menuAprobacion' proyecto.id %}"
               {% if es_aprobador == False %}disabled=""{% endif %} style="color: white">Aprobar items</a>
            <a class="btn btn-info"
               href="{% url 'desarrollo:relacionar' proyecto.id %}"
               style="color: white">
                Relacionar Items
            </a>
            <a class="btn btn-info"
               href="{% url 'desarrollo:desactivarRelacion' proyecto.id %}"
               style="color: white">
                Desactivar relaciones entre items
            </a>
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for fase in proyecto.fase_set.all %}
                        <th class="">{{ fase.nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    {% for fase in proyecto.fase_set.all %}
                        <td class="justify-content-center">
                            <div class="dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Asignar item
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" style="color: #4e555b">
                                        (seleccione tipo)
                                    </a>
                                    {% for tipoitem in proyecto.tipoitem_set.all %}
                                        {% if tipoitem in fase.tipos_item.all %}
                                            <a class="dropdown-item" role="button"
                                               href="{% url 'desarrollo:crearItem' fase.id tipoitem.id %}"  >
                                                {{ tipoitem.nombre }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    {% for tipo in lista_tipos %}
                                        <a class="dropdown-item {% if proyecto.estado != estado %}disabled{% endif %}" href="{% url 'desarrollo:crearItem' fase.id tipo.id %}"
                                           role="button">
                                            {{ tipo.nombre }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="list-group pt-2">
                                <ul>
                                    {% for item in lista_items %}
                                        {% if item.fase == fase %}
                                            <li class="list-group">
                                                <a class="align-baseline" href="{% url 'desarrollo:verItem' item.id %}" >
                                                   {{ item.tipo_item.prefijo }}_{{ item.nombre }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}